<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="War3FixFont.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <War3FixFont.Properties.Settings>
            <setting name="HotKey" serializeAs="String">
                <value>1,1,0,D</value>
            </setting>
            <setting name="UseHotKey" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="UseTimer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FullScreen" serializeAs="String">
                <value>True</value>
            </setting>
        </War3FixFont.Properties.Settings>
    </userSettings>
</configuration>